.up-chevron {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.down-chevron {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.un-shrink {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.shrink {
  -ms-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  transition: transform ease-out 0.3s;
}
